/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
img,
kbd,
q,
s,
samp,
strike,
tt,
var,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */
body {
  font: 16px/28px "sf display", "sf text", helvetica, sans-serif;
  background-color: rgb(194, 255, 194);
  color: rgb(49, 38, 38);
  background-image: url(../img/kale-salad.jpg);
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #ffb579;
  border-bottom: 5px solid #ec823a;
  z-index: 2;
}
.topbar p {
  float: left;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 18pt;
  color: #442727;
}
.links {
  float: right;
  padding: 10px 20px;
  overflow: auto;
}
.links ul li {
  display: inline-block;
  margin: 0px 10px 20px;
}

.links ul li a {
  text-decoration: none;
  color: rgb(117, 52, 9);
  padding: 5px;
}

.links a:hover {
  border-radius: 30%;
  background-color: rgb(105, 40, 14);
  color: rgb(255, 234, 164);
}

.container {
  background-color: lemonchiffon;
  width: 1000px;
  margin: 100px auto;
  position: relative;
}

.github {
  height: 128px;
  width: 128px;
  background-image: url(../img/logogithub.png);
  top: -5px;
  right: 295px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.fb {
  height: 128px;
  width: 128px;
  background-image: url(../img/logofb.png);
  top: -5px;
  right: 195px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.ig {
  height: 128px;
  width: 128px;
  background-image: url(../img/logoig.png);
  top: -5px;
  right: 95px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.twt {
  height: 128px;
  width: 128px;
  background-image: url(../img/logotwt.png);
  top: -5px;
  right: -5px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.header {
  padding: 70px 20px 10px;
}

.header .judul {
  font-size: 30px;
  font-weight: bolder;
}
.header .subjudul {
  font-style: italic;
}
.penulis {
  font-size: 11px;
  margin-top: -5px;
}
.penulis a {
  color: maroon;
  text-decoration: none;
}
.penulis a:hover {
  border: 10px;
  border-radius: 25%;
  color: antiquewhite;
  background-color: brown;
}
.hero {
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: 0 -125px;
  border-bottom: 5px solid rgb(163, 74, 40);
  border-top: 5px solid rgb(245, 139, 84);
}
.main {
  padding: 20px;
  width: 700px;
  box-sizing: border-box;
  float: left;
  line-height: 23px;
}
.main h2 {
  font-size: 25px;
  font-weight: bold;
}
.main p {
  margin-bottom: 5px;
  font-size: 15px;
}
.main h3 {
  font-size: 20px;
  font-weight: bold;
}
.main ol,
ul {
  text-indent: 30px;
  list-style: square;
  list-style-position: inside;
}
.main dl {
  text-indent: 20px;
}
/* tabel skill kemampuan */
.kemampuan {
  color: #444;
  border-collapse: collapse;
  width: 650px;
  margin: auto;
}

.kemampuan tr th {
  background: #534320;
  color: #fff;
  font-weight: 500;
}

.kemampuan,
th,
td {
  padding: 8px 20px;
  text-align: center;
}
.kemampuan tr {
  background-color: rgb(250, 230, 177);
}
.kemampuan tr:hover {
  background-color: rgb(255, 224, 158);
}
.kemampuan tr:nth-child(even) {
  background-color: rgb(255, 238, 161);
}
.kemampuan tr:nth-child(even):hover {
  background-color: rgb(245, 235, 151);
}
/* sidebar */
.sidebar {
  width: 250px;
  float: right;
  padding: 20px;
}
.sidebar img {
  width: 100px;
  float: left;
  padding-right: 10px;
}
.sidebar h3 {
  font-weight: bold;
  font-size: large;
}
.sidebar p {
  font: 13px/18px "sf mono", helvetica, sans-serif;
}
.sidebar a {
  text-decoration: none;
  color: #472121;
}
.sidebar a:hover {
  background-color: rgb(119, 57, 12);
  color: azure;
  border-radius: 25%;
}
/* Footer */
.footer .copy {
  color: beige;
}
.footer .copy2 {
  margin-top: -5px;
  font-size: small;
  color: lightgray;
}

/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
