/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
span,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
img,
kbd,
q,
s,
samp,
strike,
tt,
var,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
li,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */
body {
  font: 16px/28px "sf display", "sf text", helvetica, sans-serif;
  background-color: rgb(194, 255, 194);
  color: rgb(49, 38, 38);
  background-image: url(../img/kale-salad.jpg);
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #ffb579;
  border-bottom: 5px solid #ec823a;
  z-index: 2;
}
.topbar p {
  float: left;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 18pt;
  color: #442727;
}
.links {
  float: right;
  padding: 10px 20px;
  overflow: auto;
}
.links ul li {
  display: inline-block;
  margin: 0px 10px 20px;
}

.links ul li a {
  text-decoration: none;
  color: rgb(117, 52, 9);
  padding: 5px;
}

.links a:hover {
  border-radius: 30%;
  background-color: rgb(105, 40, 14);
  color: rgb(255, 234, 164);
}

.container {
  background-color: lemonchiffon;
  width: 1250px;
  margin: 100px auto;
  position: relative;
}

.github {
  height: 128px;
  width: 128px;
  background-image: url(../img/logogithub.png);
  top: -5px;
  right: 295px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.fb {
  height: 128px;
  width: 128px;
  background-image: url(../img/logofb.png);
  top: -5px;
  right: 195px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.ig {
  height: 128px;
  width: 128px;
  background-image: url(../img/logoig.png);
  top: -5px;
  right: 95px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.twt {
  height: 128px;
  width: 128px;
  background-image: url(../img/logotwt.png);
  top: -5px;
  right: -5px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
}
.header {
  padding: 70px 20px 10px;
}

.header .judul {
  font-size: 30px;
  font-weight: bolder;
}
.header .subjudul {
  font-style: italic;
}
.penulis {
  font-size: 11px;
  margin-top: -5px;
}
.penulis a {
  color: maroon;
  text-decoration: none;
}
.penulis a:hover {
  border: 10px;
  border-radius: 25%;
  color: antiquewhite;
  background-color: brown;
}
.zoom {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-bottom: 5px solid rgb(163, 74, 40);
  border-top: 5px solid rgb(245, 139, 84);
}
.boxzoom {
  position: absolute;
  top: 0;
  left: 0;
}
.boxzoom img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 1250px;
  position: relative;
}
.zoom:hover .boxzoom img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
/* main stail / gaya / style */
.main {
  padding: 20px;
  width: 1030px;
  box-sizing: border-box;
  float: left;
  line-height: 23px;
}
.main h2 {
  font-size: 25px;
  font-weight: bold;
}
.main p {
  margin-bottom: 5px;
  font-size: 15px;
}
.main h3 {
  font-size: 20px;
  font-weight: bold;
}
.main ol,
ul {
  text-indent: 30px;
  list-style: square;
  list-style-position: inside;
}
.main dl {
  text-indent: 20px;
}
/* galeri  organisasi */
.container .main figure {
  float: left;
  margin-right: 5px;
}
/* tabel skill kemampuan */
.kemampuan {
  color: #444;
  border-collapse: collapse;
  width: 950px;
  margin: auto;
}

.kemampuan tr th {
  background: #534320;
  color: #fff;
  font-weight: 500;
}

.kemampuan,
th,
td {
  padding: 8px 20px;
  text-align: center;
}
.kemampuan tr {
  background-color: rgb(250, 230, 177);
}
.kemampuan tr:hover {
  background-color: rgb(255, 224, 158);
}
.kemampuan tr:nth-child(even) {
  background-color: rgb(255, 238, 161);
}
.kemampuan tr:nth-child(even):hover {
  background-color: rgb(245, 235, 151);
}
/* galeri + lightbox portofolio */
.portofolio {
  width: 890px;
  background-color: beige;
  margin: auto;
  padding: 15px 0px 5px 30px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}
.gallery li {
  width: 150px;
  height: 150px;
  border: 5px solid #2a7886;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  position: relative;
}
.gallery li img {
  margin-left: -30px;
}
.gallery li span {
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  font-weight: bold;
  text-indent: 0;
  text-align: center;
  line-height: 150px;
  color: rgb(51, 23, 2);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.3s;
}
.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}
/* overlay lightbox */
.overlay {
  width: 0;
  height: 0;
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: 0.5s;
}
.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.portofolio .gallery .overlay img {
  border-radius: 10px;
  max-height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.overlay:target img {
  animation: ZoomFade 1s;
}
.overlay .close {
  position: absolute;
  top: 10px;
  left: 49%;
  opacity: 0;
}
.overlay:target .close {
  animation: SlideDown 0.5s 1s forwards;
}
.overlay .label {
  position: absolute;
  bottom: 10px;
  padding: 5px;
  width: fit-content;
  text-indent: 0;
  background-color: rgb(255, 241, 164);
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.overlay:target .label {
  animation: SlideUp 1s forwards;
}
/* animasi overlay */
@keyframes ZoomFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes SlideDown {
  0% {
    opacity: 0;
    margin-top: -15px;
  }
  100% {
    opacity: 100%;
    margin-top: 0;
  }
}
@keyframes SlideUp {
  0% {
    opacity: 0;
    margin-bottom: -15px;
  }
  100% {
    opacity: 100%;
    margin-bottom: 0;
  }
}
/* sidebar */
.sidebar {
  width: 200px;
  float: right;
  padding: 10px;
}
.sidebar img {
  width: 100px;
  float: left;
  padding-right: 10px;
}
.sidebar h3 {
  font-weight: bold;
  font-size: large;
}
.sidebar p {
  font: 13px/18px "sf mono", helvetica, sans-serif;
}
.sidebar a {
  text-decoration: none;
  color: #472121;
}
.sidebar a:hover {
  background-color: rgb(119, 57, 12);
  color: azure;
  border-radius: 25%;
}
/* Footer */
.footer .copy {
  color: beige;
}
.footer .copy2 {
  margin-top: -5px;
  font-size: small;
  color: lightgray;
}

/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
